body
{
	background-image:URL("image/sottosfondo.jpg");
	background-size:cover;
}

div.header
{
	background-color:dimgray;
	margin-top: 10px;
}

p
{
	color:white;
}

filedset
{
	color:white;
}

div.sezionelaterale
{
	position: absolute;
	top: 550px;
	left: 650px;
	width:150px;
	height:200px;
	
}

fieldset.sezionemenu
{	
	background-image:URL("image/sfondo-marroncino.jpg");
	background-size:cover;
	align-self: center;
}


div.sezioneordine
{
}

div.finepag
{
	background-color:black;
}

.image:hover
{
	display:block;
	width:200px;
	height:200px;
}

table
{
	color:white;
	border-top: 1px solid violet;
	border-bottom: 1px solid violet;
}

blockquote
{
	float:right;
	width:140px;
    font-size:90%;
	margin: 10px 10px 10px 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

h2.titoli
{
	color:white;
}

h2.descrizione
{	
margin: -70px 100px 30px 10px;
}

a
{	
	color:red;
}

input.ordine
{
 color: black;
}

img.imbar
{
	float:right;
}

img.imbar:hover
{
 width:200px;
 height:200px;
}
