html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #0c2739;
}

body {
    overflow: hidden;
}

body iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.cart-wrapper {
    position: fixed;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: -0.02em;
    color: #262626;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 38.375em;
    min-width: 18.75em;
    overflow: hidden;
    z-index: 10000;
    padding-left: 2.5em;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cart-wrapper .tab-cart-ic {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6IzQyNDM0Njt9IC5zdDF7ZmlsbDpub25lO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00My41IDM4LjhMNDEgMTguN2MtLjItMy0yLjctNS4yLTUuOS01LjJoLS44Yy0uMS02LjEtNC43LTExLTEwLjQtMTFzLTEwLjMgNC45LTEwLjQgMTFoLS44Yy0zLjIgMC01LjcgMi4yLTUuOSA1LjJMNC42IDM4Ljl2LjRjMCAzIDIuMyA2LjIgNS45IDYuMmgyNy4yYzMuNSAwIDUuOS0zLjEgNS45LTYuMi0uMS0uMi0uMS0uMy0uMS0uNXpNMjQgNi44YzMuNCAwIDYuMSAzIDYuMiA2LjlIMTcuOGMwLTMuOSAyLjgtNi45IDYuMi02Ljl6bTEzLjcgMzQuNEgxMC40Yy0uOSAwLTEuNy0xLjEtMS43LTIuMUwxMS4xIDE5YzAtMSAuOC0xLjIgMS43LTEuMmguOHYxLjRjMCAxLjIuOSAyLjEgMi4xIDIuMXMyLjEtLjkgMi4xLTIuMXYtMS40aDEyLjV2MS40YzAgMS4yLjkgMi4xIDIuMSAyLjEgMS4yIDAgMi4xLS45IDIuMS0yLjF2LTEuNGguOGMxIDAgMS43LjQgMS43IDEuM2wyLjQgMjAuMmMwIC45LS44IDEuOS0xLjcgMS45eiIvPjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0wIDBoNDh2NDhIMHoiLz48L3N2Zz4=");
}

.cart-wrapper .tab-heart-line-ic {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6bm9uZTt9IC5zdDF7ZmlsbDpub25lO3N0cm9rZTojNDI0MzQ2O3N0cm9rZS13aWR0aDo0LjU7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xIDFoNDZ2NDZIMXoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMzMuOSA3LjFjLTQuNCAwLTguMSAyLjUtOS45IDYuMS0xLjgtMy43LTUuNi02LjEtOS45LTYuMUM4IDcuMSAzIDEyLjEgMyAxOC4yYzAgMTQuNiAyMC43IDIyLjYgMjAuNyAyMi42UzQ1IDMyLjcgNDUgMTguMmMwLTYuMS01LTExLjEtMTEuMS0xMS4xeiIvPjwvc3ZnPg==");
}

.cart-wrapper .item-trash-ic {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjYgMjYiPjxzdHlsZT4uc3Qwe2ZpbGw6I0Y1RjVGNTt9IC5zdDF7ZmlsbDojQkRDM0M3O308L3N0eWxlPjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjEzIiBjeT0iMTMiIHI9IjEyLjUiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNOC42IDE2bDMtMy0zLTMgMS41LTEuNSAzIDNMMTYgOC42bDEuNCAxLjQtMyAzIDMgMy0xLjUgMS41LTMtMy0zIDNMOC42IDE2eiIvPjwvc3ZnPg==");
}

.cart-wrapper .item-heart-ic {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIxMSAtMTEgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6bm9uZTt9IC5zdDF7ZmlsbDojQkRDM0M3O3N0cm9rZTojQkRDM0M3O3N0cm9rZS13aWR0aDo0LjU7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMS0xMWg0OHY0OEgxMXoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNNDQuOS0zLjljLTQuNCAwLTguMSAyLjUtOS45IDYuMS0xLjgtMy43LTUuNi02LjEtOS45LTYuMUMxOS0zLjkgMTQgMS4xIDE0IDcuMmMwIDE0LjYgMjAuNyAyMi42IDIwLjcgMjIuNlM1NiAyMS43IDU2IDcuMmMwLTYuMS01LTExLjEtMTEuMS0xMS4xeiIvPjwvc3ZnPg==");
}

.cart-wrapper .checkout-cart-ic {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIxMSAtMTEgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6I0ZGRkZGRjt9IC5zdDF7ZmlsbDpub25lO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik01NC41IDI3LjhMNTIgNy43Yy0uMi0zLTIuNy01LjItNS45LTUuMmgtLjhjLS4xLTYuMS00LjctMTEtMTAuNC0xMXMtMTAuMyA0LjktMTAuNCAxMWgtLjhjLTMuMiAwLTUuNyAyLjItNS45IDUuMmwtMi4yIDIwLjJ2LjRjMCAzIDIuMyA2LjIgNS45IDYuMmgyNy4yYzMuNSAwIDUuOS0zLjEgNS45LTYuMi0uMS0uMi0uMS0uMy0uMS0uNXpNMzUtNC4yYzMuNCAwIDYuMSAzIDYuMiA2LjlIMjguOGMwLTMuOSAyLjgtNi45IDYuMi02Ljl6bTEzLjcgMzQuNEgyMS40Yy0uOSAwLTEuNy0xLjEtMS43LTIuMUwyMi4xIDhjMC0xIC44LTEuMiAxLjctMS4yaC44djEuNGMwIDEuMi45IDIuMSAyLjEgMi4xczIuMS0uOSAyLjEtMi4xVjYuOGgxMi41djEuNGMwIDEuMi45IDIuMSAyLjEgMi4xczIuMS0uOSAyLjEtMi4xVjYuOGguOGMxIDAgMS43LjQgMS43IDEuM2wyLjQgMjAuMmMwIC45LS44IDEuOS0xLjcgMS45eiIvPjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xMS0xMWg0OHY0OEgxMXoiLz48L3N2Zz4=");
}

.cart-panel {
    position: relative;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.cart-header {
    position: relative;
    width: 100%;
    height: 3.75em;
    background-color: #fff;
}

.cart-header .cart-tabs {
    position: relative;
    color: #424346;
    width: 100%;
    height: 100%;
}

.cart-header .cart-tab {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cart-header .cart-tab-table {
    position: relative;
    display: table;
    list-style-type: none;
    z-index: 20;
    width: 100%;
    height: 100%;
}

.cart-header .cart-tab-cell {
    position: relative;
    display: table-cell;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart-header .cart-tab-cell.selected {
    cursor: default;
}

.cart-header .tab-label {
    font-size: 0.875em;
    text-transform: uppercase;
}

.cart-header .tab-ic {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}

.tab-selector {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    z-index: 10;
}

.tab-selector {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.current-section__cart .tab-selector {
    left: 0;
}

.current-section__favorites .tab-selector {
    left: 50%;
}

.cart-content {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.cart-sections {
    width: 200%;
    height: 100%;
    display: table;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.cart-sections>.cart-section {
    width: 50%;
    height: 100%;
    display: table-cell;
    position: relative;
}

.current-section__cart .cart-sections {
    left: 0;
}

.current-section__favorites .cart-sections {
    left: -100%;
}

.cart-list {
    list-style-type: none;
    padding: 1.25em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cart-list-item {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 1.25em;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.cart-list-item .cart-item-img {
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cart-list-item .cart-item {
    width: 100%;
    height: 5em;
    display: table;
}

.cart-list-item .cart-item>div {
    position: relative;
    display: table-cell;
}

.cart-list-item .cart-item .cart-item-description>span {
    position: absolute;
    padding: 0 1.5em;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.cart-list-item .cart-item .cart-item-description .cart-item-label {
    line-height: 1.3em;
    max-height: 2.6em;
    font-size: 0.875em;
    overflow: hidden;
    color: #262626;
}

.cart-list-item .cart-item .cart-item-description .cart-item-price {
    font-size: 0.75em;
    color: #a8a8b2;
    margin-top: 0.125em;
}

.cart-list-item .cart-item .cart-item-favorites,
.cart-list-item .cart-item .cart-item-trash {
    width: 2em;
}

.cart-list-item .cart-item .cart-item-favorites>span,
.cart-list-item .cart-item .cart-item-trash>span {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    vertical-align: top;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cart-list-item .cart-item .cart-item-trash {
    width: 4em;
}

.cart-list-item .cart-item .item-heart-ic {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    cursor: pointer;
}

.cart-list-item .cart-item .item-heart-ic:hover {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
}

.cart-list-item .cart-item .item-trash-ic {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    cursor: pointer;
}

.cart-list-item .cart-item .item-trash-ic:hover {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}

.cart-list-footer {
    height: 7.5em;
}

.cart-footer {
    position: absolute;
    width: 100%;
    height: 8.125em;
    bottom: 0;
    text-align: center;
}

.cart-footer .cart-checkout-btn {
    position: relative;
    margin: auto;
    margin-bottom: 0.75em;
    width: 5em;
    height: 5em;
    color: #fff;
    background-color: #1884fe;
    -webkit-touch-callout: none;
    cursor: pointer;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3.125em;
    -moz-border-radius: 3.125em;
    border-radius: 3.125em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart-footer .cart-checkout-btn .checkout-cart-ic {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cart-footer .cart-checkout-btn .checkout-label {
    opacity: 0;
    text-transform: uppercase;
    font-size: 0.9375em;
    letter-spacing: 0.06em;
}

.cart-footer .cart-checkout-btn:hover {
    background-color: #1b71d3;
}

.cart-footer .cart-checkout-btn:active {
    background-color: #1e5ea8;
}

.cart-footer .cart-copyright {
    font-size: 0.6875em;
    color: #bdc3c7;
    letter-spacing: 0.06em;
}

.cart-footer .cart-copyright a {
    color: #0078ff;
    text-decoration: none;
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nano>.nano-content:focus {
    outline: thin;
}

.nano>.nano-content::-webkit-scrollbar {
    display: none;
}

.has-scrollbar>.nano-content::-webkit-scrollbar {
    display: block;
}

.nano>.nano-pane {
    margin: 8px 4px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 6px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9;
    opacity: 0.01;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nano>.nano-pane>.nano-slider {
    background: #444;
    background: rgba(0, 120, 255, 0.8);
    position: relative;
    margin: 0 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.nano:hover>.nano-pane,
.nano-pane.active,
.nano-pane.flashed {
    visibility: visible\9;
    opacity: 0.99;
}

@media screen and (min-width: 22.5em) {
    .cart-list-item .cart-item .cart-item-description .cart-item-label {
        font-size: 1em;
    }
    .cart-list-item .cart-item .cart-item-description .cart-item-price {
        font-size: 0.875em;
    }
}

@media screen and (min-width: 26.25em) {
    .cart-wrapper {
        padding-left: 4em;
    }
    .cart-header .tab-label {
        font-size: 1em;
    }
    .cart-header .tab-ic {
        vertical-align: top;
        margin-right: 6px;
        background-size: 19px 19px;
        width: 19px;
        height: 19px;
    }
    .cart-list-item {
        height: 5em;
        margin-bottom: 0.125em;
        display: table;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .cart-list-item>div {
        display: table-cell;
    }
    .cart-list-item .cart-item-img {
        width: 5em;
        padding: 0;
    }
    .cart-footer {
        height: 6.25em;
    }
    .cart-footer .cart-checkout-btn {
        width: 14.375em;
        height: 3.125em;
    }
    .cart-footer .cart-checkout-btn .checkout-cart-ic {
        opacity: 0;
    }
    .cart-footer .cart-checkout-btn .checkout-label {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}