<!DOCTYPE html>
<html>
{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='menu.js') }}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <!-- <link rel="stylesheet" href="menu.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
    <div class="header">
        <div id="bottone-basket">
            <a href="#" class="car" data-bs-toggle="modal" data-bs-target="#cart">
                <img src="/static/image/basket.png" width="40">
            </a>
        </div>
    </div>
    <div id="toast-alert">
        
    </div>
    <!-- Modal -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Carrello</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <div class="modal-body">
                    <table class="show-cart table">

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <table>
        <tbody>
            <tr>
                <td colspan="3" witdh="100%" class="titolo">Caffetteria</td>
            </tr>
            {% for el in Caffetteria%}
            <tr class="bordosotto">
                <td class="oggetto" width="70%">{{el['nome']}}</td>
                <td class="prezzo" width="20%">{{el['prezzo']}}€</td>
                <td class="bottone" width="10%">
                    <a href="#" data-name="{{el['nome']}}" data-price="{{el['prezzo']}}" class="add-to-cart">
                        <img id="img" src="/static/image/cart.svg">
                    </a>
                </td>
            </tr>
            <tr class="bordosotto">
                <td colspan="2" class="descrizione">{{el['desc']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" witdh="100%" class="titolo">Bibite</td>
            </tr>
            {% for el in bibite%}
            <tr class="bordosotto">
                <td class="oggetto" width="70%">{{el['nome']}}</td>
                <td class="prezzo" width="20%">{{el['prezzo']}}€</td>
                <td class="bottone" width="10%">
                    <a href="#" data-name="{{el['nome']}}" data-price="{{el['prezzo']}}" class="add-to-cart">
                        <img id="img" src="/static/image/cart.svg">
                    </a>
                </td>
            </tr>
            <tr class="bordosotto">
                <td colspan="2" class="descrizione">{{el['desc']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" witdh="100%" class="titolo">Aperitivi</td>
            </tr>
            {% for el in Aperitivi%}
            <tr class="bordosotto">
                <td class="oggetto" width="70%">{{el['nome']}}</td>
                <td class="prezzo" width="20%">{{el['prezzo']}}€</td>
                <td class="bottone" width="10%">
                    <a href="#" data-name="{{el['nome']}}" data-price="{{el['prezzo']}}" class="add-to-cart">
                        <img id="img" src="/static/image/cart.svg">
                    </a>
                </td>
            </tr>
            <tr class="bordosotto">
                <td colspan="2" class="descrizione">{{el['desc']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" witdh="100%" class="titolo">Cocktail - Alcolici</td>
            </tr>
            {% for el in Cocktail%}
            <tr class="bordosotto">
                <td class="oggetto" width="70%">{{el['nome']}}</td>
                <td class="prezzo" width="20%">{{el['prezzo']}}€</td>
                <td class="bottone" width="10%">
                    <a href="#" data-name="{{el['nome']}}" data-price="{{el['prezzo']}}" class="add-to-cart">
                        <img id="img" src="/static/image/cart.svg">
                    </a>
                </td>
            </tr>
            <tr class="bordosotto">
                <td colspan="2" class="descrizione">{{el['desc']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" witdh="100%" class="titolo">Cocktail - Analcolici</td>
            </tr>
            {% for el in CocktailAn%}
            <tr class="bordosotto">
                <td class="oggetto" width="70%">{{el['nome']}}</td>
                <td class="prezzo" width="20%">{{el['prezzo']}}€</td>
                <td class="bottone" width="10%">
                    <a href="#" data-name="{{el['nome']}}" data-price="{{el['prezzo']}}" class="add-to-cart">
                        <img id="img" src="/static/image/cart.svg">
                    </a>
                </td>
            </tr>
            <tr class="bordosotto">
                <td colspan="2" class="descrizione">{{el['desc']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" witdh="100%" class="titolo">Vini - Rosso</td>
            </tr>
            {% for el in VinoR%}
            <tr class="bordosotto">
                <td class="oggetto" width="70%">{{el['nome']}}</td>
                <td class="prezzo" width="20%">{{el['prezzo']}}€</td>
                <td class="bottone" width="10%">
                    <a href="#" data-name="{{el['nome']}}" data-price="{{el['prezzo']}}" class="add-to-cart">
                        <img id="img" src="/static/image/cart.svg">
                    </a>
                </td>
            </tr>
            <tr class="bordosotto">
                <td colspan="2" class="descrizione">{{el['desc']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" witdh="100%" class="titolo">Vini - Bianco</td>
            </tr>
            {% for el in VinoB%}
            <tr class="bordosotto">
                <td class="oggetto" width="70%">{{el['nome']}}</td>
                <td class="prezzo" width="20%">{{el['prezzo']}}€</td>
                <td class="bottone" width="10%">
                    <a href="#" data-name="{{el['nome']}}" data-price="{{el['prezzo']}}" class="add-to-cart">
                        <img id="img" src="/static/image/cart.svg">
                    </a>
                </td>
            </tr>
            <tr class="bordosotto">
                <td colspan="2" class="descrizione">{{el['desc']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" witdh="100%" class="titolo">Birre</td>
            </tr>
            {% for el in Birre%}
            <tr class="bordosotto">
                <td class="oggetto" width="70%">{{el['nome']}}</td>
                <td class="prezzo" width="20%">{{el['prezzo']}}€</td>
                <td class="bottone" width="10%">
                    <a href="#" data-name="{{el['nome']}}" data-price="{{el['prezzo']}}" class="add-to-cart">
                        <img id="img" src="/static/image/cart.svg">
                    </a>
                </td>
            </tr>
            <tr class="bordosotto">
                <td colspan="2" class="descrizione">{{el['desc']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
{% endblock %}

</html>